<div class="row" >
  <aside class="col-md-4">
    <h2>Cursos</h2>
    <%= render 'cursos/form' %>
    <table class="table table-striped">
      <tbody  id="cursos">
        <%= render @cursos %>
      </tbody>
    </table>
  </aside>

  <aside class="col-md-4">
    <h2>Profesores</h2>
    <%= render 'professors/form' %>
    <table class="table table-striped">
      <tbody id="profes">
        <%= render @profes %>
      </tbody>
    </table>
  </aside>

  <aside class="col-md-4">
    <h2>Asignaturas</h2>
    <%= render 'asignaturas/form' %>
    <table class="table table-striped">
      <tbody id="asigs">
        <%= render @asigs %>
      </tbody>
    </table>
  </aside>
</div>
