<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asignatura.name %>
</p>

<p>
  <strong>Lectiva:</strong>
  <%= @asignatura.lectiva %>
</p>

<%= link_to 'Edit', edit_asignatura_path(@asignatura) %> |
<%= link_to 'Back', asignaturas_path %>
