<!DOCTYPE html>
<html>
<head>
  <title>HorasProfes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="jej">
  <%= render 'layouts/header' %>
  <div class="container" id="c_jej">
    <%= yield %>
     <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
